body {
    margin: 0;
    padding: 0;
}
:root {
    --contact-form-width: 360px;
}

#purple-box {
    position: fixed;
    left: calc(var(--contact-form-width) * -1);
    top: 50px;
    width: var(--contact-form-width);
    height: 120px;
    background-color: purple;
    transition: 500ms;
    color: white;

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
}

#purple-box a {
    color: white;
    text-decoration: none;
}

#purple-box.show-fade-away {
    transition: 500ms;
    left: 0;
}

div#cookies-msg div {
    padding: 12px;
}

#cookies-msg {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: 400ms;

    top: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    color: white;
}

#cookies-msg.show-fade-away {
    transition: 400ms;
    max-height: 140px;
}
